body {
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    font-family: Quicksand;
    font-size: 16px;
}
h1 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 36px;
    color: #5F6683;
}
h2 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: #53B14D;
}
a {
    text-decoration: none;
    color: #8281E2 ;
    transition: color 0.3s ease;
}
a:hover {
    color:#53B14D;
}
.container {
    width: 700px;
    margin: 40px auto;
}
.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}
.img-Circle {
    border-radius: 50%;
}
.btn-blue {
    color: #8281E2;
}
.btn-git {
    background-color: wheat;
    padding: 5px 6px;
    border-radius: 4px;
    position: relative;
    top: 20px;
}
.list-inline {
    list-style: none;
    padding-left: 0px;
}
.list-inline li {
    display: inline;
    padding: 15px;
}
.list-inline i {
    font-size: 40px;
    color: rgb(230,230,230);
}
.list-inline i:hover {
    color: rgb(0,0,0);
}
#Intro p {
    margin: 40px;
}
